In [1]:
# File upload
# Fetch Unique Dept
# Join get new
# Insert new
# Get All Dept UUId
# Map All UUID to df
# Department updated
# Department Inserted
# Department Fetched with uuid
# Employee MApped wiht department UUID
# Employee Updated
# Employeee INserted
# Calculations

In [2]:
import uuid
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
spark = (
    SparkSession.builder
    .appName("UpdateEmployeeRecords")
    .enableHiveSupport()
    .getOrCreate()
)

In [4]:
flat_schema = "first_name STRING, last_name STRING, salary INT, dept_name STRING, salary_increment float"
flat_file = "flat_data.csv"

In [5]:
flat_data = spark.read.format("csv").schema(flat_schema).option("header","true").load(flat_file)

In [7]:
create_dept_tbl = """
CREATE TABLE IF NOT EXISTS department (
id STRING,
name STRING, 
salary_increment INT
);
"""

In [8]:
spark.sql(create_dept_tbl)

DataFrame[]

In [11]:
dist_data = flat_data.select("dept_name", "salary_increment").distinct()
dist_dept_id = dist_data.select("*").withColumn("id",expr("uuid()"))

In [13]:
dist_dept_id.show()

+---------+----------------+--------------------+
|dept_name|salary_increment|                  id|
+---------+----------------+--------------------+
|Marketing|            16.0|1c92fbec-b6c6-4c7...|
|    Sales|            17.0|51a4ded2-759a-4e9...|
|       IT|            15.0|3db4b954-a262-491...|
|  Finance|            10.0|ee19cd5e-7003-4c2...|
+---------+----------------+--------------------+

In [15]:
spark.sql("INSERT INTO department(name, salary_increment,id) VALUES('Sales',0,0)")

DataFrame[]

In [17]:
dist_dept_id.createOrReplaceGlobalTempView("new_department")

In [ ]:
spark